.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-dark{
	background-color:#75767B;
    margin-top: 2.5%;
    
}
h1{
    text-align: center;
}

.mt-50{
	margin-top: 50px;
}
#canvas{
    border: 2px solid black;
}